.pf-timeline__zoom-area {
  fill: transparent;
  cursor: pointer;
}

.pf-timeline__y-tick {
  stroke: black;
  fill: none;
  stroke-width: 1px;
}

.pf-timeline__axes {
  fill: #fafafa;
}

.pf-timeline__x-axis {
  position: absolute;
  z-index: 50;
  stroke: #d1d1d1;
  fill: none;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.pf-timeline__x-axis text {
  stroke: none;
  fill: black;
  font-family: 'Open Sans';
  font-size: 12px;
}

.pf-timeline__label {
  font-weight: 400;
}

text.pf-timeline__drop {
  text-rendering: auto;
  font-size: 10px;
  font-family: 'FontAwesome';
  opacity: .7;
  stroke: none;
  cursor: pointer;
}

text.pf-timeline__drop:hover {
  font-size: 21px;
  font-weight: bold;
  paint-order: stroke;
}

text.pf-timeline__event-group {
  font-size: 18px;
}

.pf-timeline__grid {
  stroke: #d1d1d1;
  cursor: all-scroll;
  shape-rendering: crispEdges;
}

.pf-timeline__graph-body .pf-timeline__line {
  height: 20px;
  padding: 10px;
}

.pf-timeline__timestamp text {
  fill: #fff;
}

.pf-timeline__timestamp rect {
  fill: #000;
  opacity: .7;
}

.pf-timeline__marker {
  pointer-events: none;
}

.pf-timeline__brush .extent {
  stroke: none;
  fill: #0088ce;
  fill-opacity: .25;
  shape-rendering: crispEdges;
}

.pf-timeline__graph-body .pf-timeline__line {
  height: 20px;
  padding: 10px;
}

.pf-timeline__zoom {
  position:absolute;
}

.pf-timeline__context .pf-timeline__bar {
  fill: #bbbbbb;
  shape-rendering: crispEdges;
}

.pf-timeline__slider {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.pf-timeline__grid-stripes rect {
  fill: #fafafa;
  shape-rendering: crispEdges;
}

 .pf-timeline__grid-stripes line {
  stroke: #d1d1d1;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
